# dependencies (bun install)
node_modules
.pnp
.pnp.js

# output
out
build
dist
dist-ssr
*.tgz

# turbo
.turbo

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.*
!.env.samples

# caches
.eslintcache
.cache
*.tsbuildinfo

# visual studio code
.vscode/*
!.vscode/settings.json

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# tanstack
.nitro
.tanstack

# misc
*.pem
*.local
